<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.gmu.hodum.sei"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />

    <uses-permission android:name="android.permission.VIBRATE" >
    </uses-permission>

    <application
        android:name="edu.gmu.hodum.sei.ui.MyApplication"
        android:debuggable="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name="edu.gmu.hodum.sei.ui.StartNetworkActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.gmu.hodum.sei.ui.SendReceiveActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".service.MyBroadcastSenderReceiver" >
            <intent-filter>
                <action android:name="edu.gmu.hodum.INITIALIZE_NETWORK" />
                <action android:name="edu.gmu.hodum.SEND_DATA"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".service.BroadcastNetworkService"
            android:enabled="true" >
            <intent-filter>
                <action android:name="edu.gmu.hodum.INITIALIZE_NETWORK" />
                <action android:name="edu.gmu.hodum.SEND_DATA"/>
            </intent-filter>
        </service>
    </application>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>

</manifest>