<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.gmu"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".CreateDatabaseActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
         <receiver android:name=".service.MyBroadcastSenderReceiver" >
            <intent-filter>
                <action android:name="edu.gmu.hodum.INITIALIZE_NETWORK" />
                <action android:name="edu.gmu.hodum.SEND_DATA"/>
                <action android:name="edu.gmu.hodum.RECEIVE_DATE"/>
            </intent-filter>
        </receiver>

         <provider android:name=".content.ContextContentProvider" 
             android:authorities="edu.gmu.provider.cursor.dir"/>
         
        <service
            android:name=".service.ContextDatabaseService"
            android:enabled="true" >
            <intent-filter>
                <action android:name="edu.gmu.hodum.INITIALIZE_NETWORK" />
                <action android:name="edu.gmu.hodum.SEND_DATA"/>
                <action android:name="edu.gmu.hodum.RECEIVE_DATE"/>
            </intent-filter>
        </service>
    </application>

</manifest>